/* reset */
* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles */

.container {
    /* max-width: 1110px; */
	margin: 0 auto;
}

.header {
    background: cornflowerblue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}

.image-container {
    margin: 20px auto;
    width: 1200px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    position: relative;
}

.image:hover .text-container{
    display: block;
}

.image img {
    object-fit: cover;
}

.text-container {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 75px;
    left: 0;
    background: rgba(255, 126, 32, 0.3);
    display: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
}